<h1 mat-dialog-title>Add Task</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill" class="mb-2">
    <mat-label>Title</mat-label>
    <input
      required
      [(ngModel)]="data.taskTitle"
      matInput
      placeholder="Title"
      name="title"
    />
    <mat-error *ngIf="!data.taskTitle">Title is required</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <input
      required
      [(ngModel)]="data.taskDescription"
      matInput
      placeholder="Description"
      name="description"
    />
    <mat-error *ngIf="!data.taskDescription">Description is required</mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button (click)="onOk()">Ok</button>
</div>
