<div class="mt-10">
  <a
    class="bg-slate-300 p-2 rounded-lg border border-slate-900 m-5"
    routerLink="/register"
    >Register Component</a
  >
  <a
    class="bg-slate-300 p-2 rounded-lg border border-slate-900 m-5"
    routerLink="/secret"
    >Secret Component</a
  >
</div>
<router-outlet></router-outlet>

<div class="w-full flex flex-col justify-center items-center mt-10 gap-8">
  <h2 class="font-black text-3xl">Plus minus game</h2>

  <h2 class="text-7xl">{{ count }}</h2>

  <div>
    <app-decrement [count]="count" (countChange)="count = $event">
    </app-decrement>
    <app-increment [count]="count" (countChange)="count = $event">
    </app-increment>
    <button
      class="bg-slate-400 p-2 ml-2 border-slate-700 border rounded-lg"
      (click)="resetButton()"
    >
      Reset
    </button>
  </div>
</div>
