@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: var(--background);
}
:root {
  --main-color: #8EB486;
  --main-color-hover: #85aa7e;
  --secondary-color:#997C70 ;
  --background: #FDF7F4;
  --color-text: #5e4f4a;
}

#header{
  color: var(--background);
}
.header1{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-text);
  font-size: 2rem;
  font-weight: 600;
  margin: 1rem 3rem;
}
.header2{
  background-color: var(--secondary-color);
  padding: .8rem 5rem;
}
.header2 nav a {
  text-decoration: none;
  color: var(--background);
  margin: 1rem 2rem;
  font-size: 1.2rem;
  font-weight: 200;
}
#header nav a:hover {
  border-bottom: 1px solid var(--background);
}
.signInBtn {
  background-color: var(--main-color);
  border: 1px solid var(--main-color-hover);
  color: var(--background);
  padding: .4rem 1rem;
  font-size: 1.1rem;
  border-radius: .87rem;
}
.signInBtn:hover {
  cursor: pointer;
  background-color: var(--main-color-hover);
}