<div class="flex m-10 gap-2 items-center">
  <button class="mb-4" mat-raised-button color="primary" (click)="openDialog()">
    <mat-icon>add</mat-icon>
    Add Task
  </button>
</div>

<div class="m-10 flex" cdkDropListGroup>
  <div class="example-container shadow-2xs">
    <h2>Backlog</h2>

    <div
      cdkDropList
      [cdkDropListData]="backlog"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      @if (backlog.length <= 0) {
      <p class="text-lg font-light text-center mt-4">No tasks</p>
      } @else { @for (item of backlog; track item) {
      <div class="example-box flex justify-between items-center" cdkDrag>
        <div>
          <p class="text-lg font-medium">{{ item.title }}</p>
          <p class="text-xs italic">{{ item.description }}</p>
        </div>
        <button
          mat-icon-button
          class="mr-4"
          (click)="deleteTask('backlog', item)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      } }
    </div>
  </div>

  <div class="example-container shadow-2xs">
    <h2>in Progress</h2>

    <div
      cdkDropList
      [cdkDropListData]="inProgress"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      @if (inProgress.length <= 0) {
      <p class="text-lg font-light text-center mt-4">No tasks</p>
      } @else { @for (item of inProgress; track item) {
      <div class="example-box flex justify-between items-center" cdkDrag>
        <div>
          <p class="text-lg font-medium">{{ item.title }}</p>
          <p class="text-xs italic">{{ item.description }}</p>
        </div>
        <button
          mat-icon-button
          class="mr-4"
          (click)="deleteTask('inProgress', item)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      } }
    </div>
  </div>

  <div class="example-container shadow-2xs">
    <h2>Done</h2>

    <div
      cdkDropList
      [cdkDropListData]="done"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      @if (done.length <= 0) {
      <p class="text-lg font-light text-center mt-4">No tasks</p>
      } @else { @for (item of done; track item) {
      <div class="example-box flex justify-between items-center" cdkDrag>
        <div>
          <p class="text-lg font-medium">{{ item.title }}</p>
          <p class="text-xs italic">{{ item.description }}</p>
        </div>
        <button mat-icon-button class="mr-4" (click)="deleteTask('done', item)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      }}
    </div>
  </div>
</div>
